{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Dollar Store Reddit</h1>
<p>Welcome to our message board site, a space designed for open dialogue and community engagement! The purpose of this
    platform is to foster connections and share ideas on various topics. Users can easily create posts by filling out a
    simple form that includes a title, subtitle, and description. The title should capture the essence of your post,
    while the subtitle offers a brief glimpse into its content. In the description field, feel free to elaborate on your
    thoughts, ask questions, or provide context. Once you submit your post, it will be visible to the community,
    encouraging discussion and collaboration. We can't wait to see what you share!</p>


{% endblock content %}